version: "3.9"

services:
    db:
        image: mysql:latest
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: password
        ports:
            - 3306:3306
            - 33060:33060

